body {
  margin: 0;
}


.main {

}



#aboutme-intro {
  display: grid;
  grid-template-columns: 2fr 3fr/*repeat(2, 1fr)*/;
}

.title {
  display: grid;
  margin-left: 20px;
  grid-column: 1;
}

#aboutme-img {
  display: grid;
  grid-column: 1;
  justify-content: center;
  align-content: center;

  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  margin-left: 20px;
  max-width: 50%;
  height: auto;
}

#bio-shape {
  display: grid;

  justify-content: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 210px;
  padding: 30px;

  background-color: #fcba03;

  border-radius: 50% 64% 56% 74%;
}

#keyinterests {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  align-items: center;

  border: 1px;
  border-style: solid;
  border-color: black;
}

#interest1 {
  color: #001f3f;
}

#interest4 {
  display: grid;
  justify-content: center;
  align-content: center;

  border: 1px;
  border-style: solid;
  border-color: black;
}
