body {
  margin: 0;
}


.main {

}



#aboutme-intro {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 10px;
}

.title {
  display: grid;
  margin-left: 20px;
  grid-column: 1;
}

#aboutme-img {
  display: grid;
  grid-column: 1;
  justify-content: center;
  align-content: center;

  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  margin-left: 20px;
  max-width: 40%;
  height: auto;
}

#bio-shape {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 210px;
  padding: 30px;

  background-color: #fcba03;

  border-radius: 50% 64% 56% 74%;
}

#welcome-message {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 20px;
}


#keyinterests {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  margin-bottom: 0px;
}

#interest1 {
  display: grid;
  padding: 50px;
  margin-bottom: 0px;
  justify-content: center !important;
  align-items: center !important;
  background-color: #256b38;
  color: #ebebeb;
}

#interest2 {
  display: grid;
  padding: 50px;
  margin-bottom: 0px;
  justify-content: center !important;
  align-items: center !important;
  background-color: #001f3f;
  color: #ebebeb;
  }

#interest3 {
  display: grid;
  padding: 50px;
  margin-bottom: 0px;
  justify-content: center !important;
  align-items: center !important;
  background-color: #85144b;
  color: #ebebeb;
}

#interest4 {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FF851B;
  color: #ebebeb;
}

#baristacertif {
  display: grid;
  justify-content: center;
  align-content: center;

  max-width: auto;
  height: 10%;

}
