body {
  margin: 0;
}

/*navigation bar styles start here*/
header {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  background: #3b3b3b;
  padding-left: 20px;
  padding-right: 20px;
}

#img-logo {
  display: grid;
  justify-content: center;
  /*align-content: center;*/
  width: 15%;
}

nav {
  display: grid;
  justify-content: end;
  align-content: center;
}

nav ul {
  margin: 0;
  list-style: none;

  display: flex;
  grid-gap: 20px;
}

nav ul li {
  padding-left: 5px;
  padding-right: 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 3px;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}


/*section with image on the left*/
.section-img-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-left {
  display: grid;
  justify-content: start;
  align-content: center;

  max-width: 90%;
  height: auto;
  margin: 20px;
  padding: 2px;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#introduction {
  font-size: 40px;
}

#introduction-text {
  font-size: 25px;
}

/*section with image on the right*/
.section-img-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0;
  padding: 0;
}

.img-right {
  display: grid;
  justify-content: start;
  align-content: center;

  max-width: 95%;
  height: auto;
  margin-right: 20px;
  padding: 2px;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-section {
  display: grid;
  justify-content: center;
  align-content: center;

  margin: 20px;
}

/*top 3 coffee shops section starts here*/
.section-mid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.coffeeshop-section {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.img-coffeeshop {
  display: grid;
  justify-content: start;
  align-content: center;

  max-width: 100%;
  height: auto;
}

/*banner section starts here*/
#homebrewtool {
  display: grid;
  grid-template-columns: 1fr;
}


/*footer section starts here*/
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 70px;
  background: #3b3b3b;
}

#footer-title {
  display: flex;
  align-items: center;
  /*justify-content: start;*/
  color: #ffffff;
  margin-left: 20px;
}

#footer-text {
  padding-left: 7px;
  font-size: 13px;
}

#footer-social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.fa {
  padding: 10px;
  margin: 5px;
  font-size: 30px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;

  background: white;
  color: black;
}
