body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #333;
}

.title {
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 20px;

}
